<!DOCTYPE html>
<html>
<head>
  <title>Happyfiit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-lg toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><img src="assets/rsz_happyfiit_logo.jpg" class="img-responsive"></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Happyfiit</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="#partners" onclick = $("#menu-close").click(); >Partners</a>
            </li>
            <li>
                <a href="#team" onclick = $("#menu-close").click(); >Team</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">        	
            <h1>HappyFiit</h1>
            <h3>Rewarding your personal best</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">                	
                    <h2>HappyFiit is a mobile rewarding platform aiming to help apps monetize their user base and brands to target their audience more accurately </h2>
                    <!-- class="lead">You can see how it works <a target="_blank" href="#">here</a>.</p> -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            
         	<div class="marvel-device nexus5">
    		<div class="top-bar"></div>
		    <div class="sleep"></div>
    		<div class="volume"></div>
    		<div class="camera"></div>
    		<div class="screen">
        	<img id="reward" src="assets/reward.png" alt="reward">
    		</div>
			</div>
		<div class="col-sm-6 ">
				
				<h3 class="lead">					
					We have created a simple SDK that any mobile application can use in order to integrate with our service
				</h3>
				<ul>
					<li>
						For every workout the app will send data to our platform on the user activity through our SDK
					</li>
					<li>
						The application can choose whether to indicate the achievement or leave our smart algorithm to detect 
					</li>
					<li>
						As soon as an achievement is detected our platform matches it to a unique offer 
					</li>
					<li>
						We are partnering with the best brands and retailers in order to provide unique offers to the users
					</li>
					<li>
						The offer is presented to a pop-up window in real-time and the user can choose to reedem it
					</li>
				</ul>
				<p class="margin-top-20">
					 <a class="btn btn-default btn-lg">Download our SDK</a>
				</p>
			</div>

        </div>
    </aside>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">        
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-8">
                            <div class="service-item">
  								<img alt="Gift" src="assets/stats-icon-96.png">
                                <h4>
                                    <strong>Smart achievement analysis</strong>
                                </h4>
                                <p>We constantly analyze users activities and identify new achievements. We are looking deeply into fitness stats and try to identify motivating trends.</p>
                                <!--<a href="#" class="btn btn-light">Learn More</a>-->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <div class="service-item">
                				<img alt="Gift" src="assets/gift-8-icon-96.png">
                                <h4>
                                    <strong>Motivation through reward</strong>
                                </h4>
                                <p>We reward these achievement by special gifts and coupons that are provided by our huge network of beloved brands and retailers.</p>
                                <!--<a href="#" class="btn btn-light">Learn More</a>-->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <div class="service-item">
 								<img alt="Gift" src="assets/analytics-8-icon-96.png">
                                <h4>
                                    <strong>Increase your conversions</strong>
                                </h4>
                                <p>Our app collaborators can make money through reward redemptions and the brands can address their audience through achievements.</p>
                                <!--<a href="#" class="btn btn-light">Learn More</a>-->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
  <!--  <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside> -->

    <!-- Portfolio -->
    <section id="partners" class="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Some of our partners</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive thumbnail" src="assets/intersport-1-logo.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive thumbnail" src="assets/puma.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive thumbnail" src="assets/cosmos.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive thumbnail" src="assets/buldoza.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a>-->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <section id="team" class="team">
    	<div class='container'>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-5 text-center">
                <img class="img-responsive img-center thumbnail" src="assets/Thomas.jpg" alt="">
                <h3>Thomas Katakis</h3>
                <small>CEO co-founder</small>
                <p>Experienced Business and Marketing executive in 4 blue-chip companies with 9 years of in-depth knowledge of marketing and brand management using diverse distribution channel</p>
            </div>
            <div class="col-lg-3 col-sm-5 text-center ">
                <img class="img-responsive thumbnail"src="assets/me.jpg" alt="">
                <h3>Dimitris Aivatoglou</h3>
                <small>Product Manager co-founder</small>
                <p>Dimitris has been leading development teams for 6 years. He specializes in new product development and is obsessed with new techologies.</p>
            </div>
            <div class="col-lg-3 col-sm-5 text-center">
                <img class="img-responsive img-center thumbnail" src="assets/Veniamin.jpg" alt="">
                <h3>Veniamin Isaias</h3>
                    <small>CTO</small>                
                <p>Veniamin has always been fascinated by the unique characteristics of Software. Having worked in the Software Development Business for more than 14 years he is totally convinced that no matter how much he has learned or accomplish, Software will never cease to amaze him.</p>
            </div>
            <div class="col-lg-3 col-sm-5 text-center">
                <img class="img-circle img-responsive img-center" src="assets/ody.png" alt="">
                <h3>Odysseas Bournas</h3>
                    <small>Developer</small>                
                <p>An enthusiastic, conscientious and hardworking professional software engineer with significant technical background in Information Technology. Able to operate well within an organization in both team and individual projects.</p>
            </div>
        </div>
        </div>
	</section>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.2567749783752!2d23.738375122534542!3d37.971136493658186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd6aa46d8f73%3A0xd056188cf06c1d65!2zzpvOtc-Jz4YuIM6SzrHPg865zrvOrc-Jz4IgzprPic69z4PPhM6xzr3PhM6vzr3Ov8-FIDUsIM6RzrjOrs69zrEgMTA2IDc0!5e0!3m2!1sel!2sgr!4v1428258057178" width="100%" height="600" frameborder="0" style="border:0"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Happyfiit @Orange Grove</strong>
                    </h4>
                    <p>Leoforos Vasileos Konstantinou 5-7 Athens, Greece</p>
                    <ul class="list-unstyled">
                        <p><li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 211 4082551</li>
                        <p><li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@happyfiit.com">info@happyfiit.com</a></li>                        
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><img src="assets/facebook.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/twitter.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/instagram.png"></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy;Happyfiit</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>



</body>
</html>
